.page {
  min-height: 100dvh;
  padding: var(--space-4);
}

.searchInput {
  width: 100%;
  padding: var(--space-2) 0;
  border: none;
  outline: none;
  background: none;
  font-size: var(--font-size-2);
  color: inherit;
}

.searchInput::placeholder {
  color: var(--gray-9);
}

.description {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.row {
  padding: var(--space-3) 0;
  border-bottom: 1px solid var(--gray-5);
}
