.page {
  min-height: 100dvh;
  padding: var(--space-4);
}

.searchInput {
  width: 100%;
}

.description {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.row {
  padding: var(--space-3) 0;
  border-bottom: 1px solid var(--gray-5);
}
